@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

*{
   box-sizing: border-box;
}
body {

 font-family: 'Zilla Slab', serif;
	align-items: center;
	justify-content: center;
  background-color: #fbf0ff;
  background-image: url("artist.jpg");
  background-size: 100%;
  text-align: center;
  font-size:18px;
}
.bg-image{
  background-image: url("artist.jpg");
  filter: blur(8px);
  -webkit-filter:blur(8px);
}
.container {
background-color: #fff;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
background-color: rgb(19, 46, 20); /* Fallback color */
background-color: rgba(54, 66, 43, 0.884); /* Black w/opacity/see-through */
  color: white;
  display: block;
  font-weight: bold;
  position:relative;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -5%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.header h2 {
	margin: 0;
}

.form {
  padding: 70px 70px;
}

.form-control {
  background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(169, 187, 154, 0.884); /* Black w/opacity/see-through */
  color: white;
  display: block;
  font-weight: bold;
  position:relative;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -5%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}
.form-group {
  background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  background-color: rgb(53, 131, 111); /* Fallback color */
  background-color: rgba(169, 187, 154, 0.884);  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position:relative;

  text-align: center;
}
.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
  border-radius: 4px;
	font-family: inherit;
	font-size: 14px;
	
}
.form button {
	background-color:rgba(54, 66, 43, 0.884) ;
  box-shadow:10px;
	font-family: 'Zilla Slab', serif;
	color: #fff;
	font-size: 19px;
	padding:5px;
	margin-top: 20px;
	width: 100%;
}


*{
   box-sizing: border-box;
}

h1{
  color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}



.header1{
background-color: #fff;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
background-color: rgb(19, 46, 20); /* Fallback color */
background-color: rgba(57, 38, 102, 0.884); /* Black w/opacity/see-through */
  color: white;
  display: block;
  font-weight: bold;
  position:relative;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -5%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

div.item {
background-color: #fff;
border-radius: 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
background-color: rgb(19, 46, 20); /* Fallback color */
background-color: rgba(231, 221, 245, 0.884); /* Black w/opacity/see-through */
  color: rgba(54, 21, 82, 0.897);
  display: block;
  font-weight: bold;
  position:relative;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -5%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  margin:20px;
}

#coloringsDataContainer div.item {
  background-color:rgba(231, 221, 245, 0.884);
  margin: 70px; 
}

#bookDataContainer div.item {
  background-color:rgba(231, 221, 245, 0.884);
  margin: 70px;

}

#coloringDataContainer {
  display: none;
  margin: 40px;
}

#bookDataContainer {
  display: none;
}

#otherDataContainer{
  display: none;
}

div.item button {
background-color:rgba(54, 21, 82, 0.897) ;
	font-family: 'Zilla Slab', serif;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	margin-top: 30px;
  box-shadow: 4px;
  margin-right: 20px;
  border-radius: 20px;
}

div.item button.edit {
 background-color:rgba(54, 21, 82, 0.897) ;
	font-family: 'Zilla Slab', serif;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	margin-top: 30px;
  box-shadow: 4px;
  margin-right: 20px;
  border-radius: 20px;
}

span.item {
background-color: #fff;
border-radius: 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
background-color: rgb(19, 46, 20); /* Fallback color */
background-color: rgba(231, 221, 245, 0.884); /* Black w/opacity/see-through */
  color: rgba(54, 21, 82, 0.897);
  display: block;
  font-weight: bold;
  position:relative;
  padding: 20px;
  text-align: center;
  font-size: 17px;
}

span.item b {
margin-right: 10px;
}

span.undefined {
color: red;
}

