@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


* {
	box-sizing: border-box;
}

body {
	background-color: #4b8863;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}
.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}


.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}
.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 15px;
	font-size: 14px;
}


.form button {
	background-color:  #4b8863;
	border: 2px solid  #4b8863;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}




#volleyballDataContainer div.item {
  background-color:rgba(231, 221, 245, 0.884);
  margin: 70px; 
}

#bookDataContainer div.item {
  background-color:rgba(231, 221, 245, 0.884);
  margin: 70px;

}

#volleyballDataContainer {
  display: none;
  margin: 40px;
}

#bookDataContainer {
  display: none;
}

#otherDataContainer{
  display: none;
}

div.item button {
background-color:rgba(54, 21, 82, 0.897) ;
	font-family: 'Zilla Slab', serif;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	margin-top: 30px;
  box-shadow: 4px;
  margin-right: 20px;
  border-radius: 20px;
}

div.item button.edit {
 background-color:rgba(54, 21, 82, 0.897) ;
	font-family: 'Zilla Slab', serif;
	color: #fff;
	font-size: 16px;
	padding: 10px;
  box-shadow: 4px;
  border-radius: 20px;
}

span.item {
 

}

span.item b {
  margin:20px;
}

span.undefined {
color: red;
}

.spanitems{


}

.heading{
background-color: #fff;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
border-radius:25px;
width:60%;
position:relative;
text-align: center;
}
.colspan{
background-color:white;
	font-family: 'Zilla Slab', serif;
	color: black;
	font-size: 16px;
	padding: 7px;
  box-shadow: 4px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  width:30%;
}
