body {
  background-color: rgb(65, 100, 95);
  font-family: 'Open Sans', sans-serif;
}
h1{
  color:white;
}
h2{
  color:white;
}
h3{
  color:white;
}
div.item {
	min-width: 200px;
	width: 20%;
	height: 450px;
	background-color:rgb(65, 100, 95); ;
  float: left;
  color:white;
	margin: 15px;
	padding: 15px;
	position: relative;
  border: 2px solid white;
  border-radius: 10px;
}

#volleyballDataContainer div.item {
  background-color: rgb(65, 100, 95); ;
    color:white;
  

}

#bookDataContainer div.item {
  background-color: rgb(65, 100, 95); ; 
    color:white;
}



div.item button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

div.item button.edit {
	right: 70px;
}

span.item {
	line-height: 16px;
	font-size: 14px;
}

span.item b {
	margin-right: 10px;
}

span.undefined {
	color: red;
}
