
*{
   box-sizing: border-box;
}
body {
 font-family: 'Zilla Slab', serif;
	align-items: center;
	justify-content: center;
  background-color: #ecdefd;
  font-size:18px;
}

.container {
  background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  box-shadow: 0 2px 5px rgba(226, 195, 247, 0.3);
	overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.884);  /* Black w/opacity/see-through */
  position:relative;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -5%);
  z-index: 2;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}
.form {
  padding: 70px 70px;
}

.form-control {
  background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  box-shadow: 0 2px 5px rgba(226, 195, 247, 0.3);
	overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.884);  /* Black w/opacity/see-through */
  color: black;
  position:relative;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -5%);
  z-index: 2;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}
.form-group {
  background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  box-shadow: 0 2px 5px rgba(226, 195, 247, 0.3);
	overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.884);  /* Black w/opacity/see-through */
  color: black;
  position:relative;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -5%);
  z-index: 2;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}
.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
  border-radius: 4px;
  border-radius: 30px;
	font-family: inherit;
	font-size: 14px;
	
}
.form button {
	background-color:rgba(89, 5, 122, 0.884) ;
	color: #fff;
	font-size: 19px;
	padding:5px;
	margin-top: 20px;
	width: 100%;
  border-radius: 25px;
}


*{
   box-sizing: border-box;
}

h1{
  color:black;
  position: relative;
  padding: 20px;
  text-align: center;
}


.header1{
 background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  box-shadow: 0 2px 5px rgba(226, 195, 247, 0.3);
	overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.884);  /* Black w/opacity/see-through */
  color: black;
  position:relative;
  border-radius: 25px;
  text-align: center;
}

div.item {
   background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  box-shadow: 0 2px 5px rgba(226, 195, 247, 0.3);
	overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.884);  /* Black w/opacity/see-through */
  color: black;
  border-radius: 25px;
  padding:15px;
  width:20%;
 align-content: center;

}
#bookDataContainer div.item {


}

#volleyballDataContainer {
   
}

#bookDataContainer {
  display: none;
}

#otherDataContainer{
  display: none;
}

div.item button {
background-color:rgba(54, 21, 82, 0.897) ;
	font-family: 'Zilla Slab', serif;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	margin-top: 30px;
  box-shadow: 4px;
  margin-right: 20px;
  border-radius: 20px;
}

div.item button.edit {
 background-color:rgba(54, 21, 82, 0.897) ;
	font-family: 'Zilla Slab', serif;
	color: #fff;
	font-size: 16px;
	padding: 10px;
  box-shadow: 4px;
  border-radius: 20px;
}



span.undefined {
color: red;
}



